[submodule "third_party/minimp4"]
	path = third_party/minimp4
	url = https://github.com/lieff/minimp4.git
[submodule "third_party/shine"]
	path = third_party/shine
	url = https://github.com/toots/shine.git
[submodule "third_party/vgmstream"]
	path = third_party/vgmstream
	url = https://github.com/vgmstream/vgmstream.git
[submodule "third_party/UABE"]
	path = third_party/UABE
	url = https://github.com/DerPopo/UABE.git
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
